<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.service.repository.UserActionInfoMapper">
    <insert id="insertOrUpdate">
        insert into user_action_info(user_no, mobile, app_id, project_id, scene_id,day, action, count, created_at, updated_at)
        values
            (
            #{entity.userNo},
            #{entity.mobile},
            #{entity.appId},
            #{entity.projectId},
            #{entity.sceneId},
            #{entity.day},
            #{entity.action},
            #{entity.count},
            #{entity.createdAt},
            #{entity.updatedAt})
        on duplicate key update
        action=#{entity.action},
        count=`count`+1,
        updated_at=#{entity.updatedAt}
    </insert>

</mapper>
