<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.service.repository.RoomInfoMapper">

    <select id="getOpenUser" resultType="com.md.service.model.dto.RoomOpenUserDTO">
        select ri.room_no,ru.user_id
        From room_info ri
                 left join room_users ru on ri.room_no = ru.room_no
        where ri.status = 0
          and ru.is_video_muted = 1
    </select>
    <select id="getOpenVoiceUser" resultType="com.md.service.model.dto.RoomOpenUserDTO">
        select ri.room_no,ru.user_id
        From room_info ri
                 left join room_users ru on ri.room_no = ru.room_no
        where ri.status = 0
          and ru.on_seat != -1
          and ru.is_self_muted = 0
    </select>
</mapper>
